
<!-- markers/afstanden.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %}
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'markers/styles/afstanden.css' %}">
{% endblock css_files %}

{% block script_files_head %}
{% endblock script_files_head %}

{% block content %}
  <h1>Marker afstanden</h1>
  <h3>leaflet & leaflet.draw</h3>
  {% if markers %}
    <ul>
    {% for marker in markers %}
      <li>{{ marker.name }}: {{ marker.distance }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <!-- map div -->
  <div id="mapid"></div>
  
{% endblock content %}

{% block script_files_bottom %}
  <!-- leaflet css and js  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
 
  <!-- leaflet draw plugin css and js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

    <!-- inline script -->
  <script>
    // Initialize the map
    var map = L.map('mapid').setView([52.5, 4.95], 15);
    // add openstreetmap layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    map.on('click', (event) => {
      console.log(event.latlng)
    })

    // leaflet draw 
    var drawnFeatures = new L.FeatureGroup();
    map.addLayer(drawnFeatures);

    // add drawcontrol to the map
    var drawControl = new L.Control.Draw({
      // position of drawcontrols om the map
      position: "topleft",
      // add properties to objects
      draw: {
        polygon: {
          shapeOptions: {
          color: 'purple'
          },
          allowIntersection: false,
        },
        polyline: {
          shapeOptions: {
          color: 'red'
          },
        },
        rect: {
          shapeOptions: {
          color: 'green'
          },
        },
        circle: {
          shapeOptions: {
          color: 'steelblue'
          },
        },
      },
      // add edit option to drawcontrols
      edit: {
        featureGroup: drawnFeatures,
        remove: false
      },
      // add delete option to drawcontrols
      delete: {
        featureGroup: drawnFeatures,
        remove: false
      },
    });
    map.addControl(drawControl);

    // on new drawing add popup with geodata
    map.on("draw:created", function(e){
      var type  = e.layerType;
      var layer = e.layer;
      //console.log(layer.toGeoJSON())

      layer.bindPopup(`<p>${JSON.stringify(layer.toGeoJSON())}</p>`)
      drawnFeatures.addLayer(layer);
    });
    // edit drawing
    map.on("draw:edited", function(e){
      var type   = e.layerType;
      var layers = e.layers;

      layers.eachLayer(function(layer){
      console.log(layer)
      if (type == 'Point'){
        console.log('hallo')
      }
      }) 
    })
    // add startmarker
    L.marker([52.507, 4.954]).addTo(map)
      .bindPopup('I am here.<br> Looking for parkeergarages.')
      .openPopup();
    // add markers to the map
    {% for marker in markers %}
      var circle = L.circle([{{ marker.location.y }}, {{ marker.location.x }}], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 8
      }).addTo(map);
    {% endfor %}
  </script>
  
  <!-- local scripts -->
  <script src="{% static 'markers/scripts/afstanden.js' %}" defer></script>
{% endblock script_files_bottom %}