
<!-- markers/templaters/markers/show_markers.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %}
{% endblock css_files %}

{% block script_files_head %}
{% endblock script_files_head %}

{% block content %}
  <h2>{{marker.name}}</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <hr>
      
      <hr>
    </div>
    <div class="col-md-8">
      <!-- map div -->
      <div id="mapid"></div>
      <script src="{% static 'markers/scripts/map.js' %}" defer></script>
    </div>
  </div>
{% endblock content %}

{% block script_files_bottom %}
  <!-- leaflet css and js  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock script_files_bottom %}