
<!-- markers/templaters/markers/show_markers.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title|title }}{% endblock title %}

{% block css_files %}
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'markers/styles/map.css' %}" />
{% endblock css_files %}

{% block script_files_head %}
{% endblock script_files_head %}

{% block content %}
  <h2>{{marker.name}}</h2>
  <div class="row mt-4">
    <div class="col-md-4">
      <hr>
      {{ marker.image_tag }}
      <hr>
    </div>
    <div class="col-md-8">
      <!-- map div -->
      <div id="mapid"></div>
      <script src="{% static 'markers/scripts/show_marker.js' %}" defer></script>
    </div>
  </div>
  <a href="{% url 'markers:all-markers-map' %}" class="btn btn-secondary">Terug <i class="fas fa-solid fa-arrow-left"></i></a>
  <br><br>
{% endblock content %}

{% block script_files_bottom %}
  <!-- leaflet css and js  -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock script_files_bottom %}